---
import Emoji from 'astro-emoji';
import Social from './Social.astro';
---

<footer class="footer footer-center p-10 bg-base-200/25 rounded">
  <div>
    <p>
      Made with
      {' '}
      <Emoji symbol="💕" label="love" />
      {' '}
      by Eduard-o
    </p>
  </div>
</footer>

<!--
<footer class="footer footer-center p=10 bg-base-200 text-base-content rounded">
  <Social platform="Twitter" url="https://twitter.com" username="dev_abreu" />
  <Social platform="Mastadon" url="https://mas.to" username="@Eduard_o" />
  <Social platform="GitHub" url="https://github.com" username="eduard-o" />
  <Social platform="Twitch" url="https://twitch.com" username="rutsy" />
  <Social platform="YouTube" url="https://youtube.com" username="@dev_abreu" />
</footer>


  FIXME Center links
-->
